h1{
	color:red;
	text-align: center;
}

h2{
	color:grey;
	padding-left: 50px;
	
}

body{
	background-color: #6685b7;

}

.container{
	background-color: white;
	padding-right: 0px;
	margin-left: 0px;
}