h1{
	color:#FF816B;
	text-align: center;
}

h2{
	color:grey;
	padding-left: 50px;
	
}

body{
	background-color: #6685b7;

}

/* Date-picker */

#datepicker, p {text-align: right;}


/* Form */

.row{text-align: right; width: 50%; margin: 5px 30%;}

/*.warning{ border: 1px solid #cc0000; background-color: #000; }*/